*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  display:flex;
  justify-content: center;
  text-align: center;
  height: 280px;

  flex-direction: column;

}
nav{
  margin-top: 0px;
  
}
nav ul{
  list-style-type: none;
  display:flex;
  flex-direction: row;
  padding-top: 12px;
  justify-content: center;

}

nav li{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 9px;
  
}
.hometab{
  margin-top: -40px;
  
}

.hometab img{
  height:160px;
  width: auto;
  transition-duration: 0.35s;
  
}

.hometab img:hover{
  height:160px;
  width: auto;
  transform: rotate(180deg);
}

.dropcontent{
  overflow: hidden;
  padding-top: 5px;
  position:absolute;
  z-index: 1;
  height: 0px;
  width: 85px;
  margin-left: 15px;
  transition: 0.4s ease-in;

  
}
.dropcontent h5{
  padding-bottom: 10px;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropcontent{
  height: 110px;
}
.dropcontent h5{
  text-align: left;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
}

nav h3:hover, nav h5:hover{
  color: #39ff14;
}

.title{
  text-align: left;
  margin-left: 150px;
  margin-top: -120px;
  width: 100px;
  height: 100px;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  padding-top: 40px;
}

.borderref{
  border-bottom: 3px solid black;
  margin-top: 55px;
}

nav a{
  text-decoration: none;
  color: black;
}

footer{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; 
  height: 400px;
  width: 100%;
  background-color: black;
  color: white;
  margin-top: -100px;
}



.footername{

  width: 200px; 
  margin-left: 200px;
  margin-top: 100px;

  padding-top: 50px;

}

.itemcontainer{
  background-color: #e7e7e7;
  
}

.itemcontainer:hover{
  border: 2px solid black;

}

.content .catalogcontent{
  justify-content: center;
}



.catalogcontent{
  display: grid;
  gap: 50px;
  grid-template-columns: 400px 400px 400px ;
  grid-template-rows: 800px 800px 800px;

  padding-top: 50px;
}

.clothesimage{
  justify-content: center;
  display:flex;

}

.clothesimage img{
  padding-top: 30px;
  width: 350px;
  height: auto;
}
p{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; 
}
.clothesdescription{

  margin-top: 20px;
  justify-content: center;
  display:flex;
}

.colourbuttons{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  
}

.actualbuttons{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-left: 18px;
  margin-right: 18px;
}

button:focus {
  border-width: 3px;
}

h1, h2, h3, h4, h5, h6{
  font-family: Tahoma, Verdana, Geneva, sans-serif;
}

.itemname{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.clothesdescription{
  padding-left: 30px;
  padding-right: 30px;
  height: 120px;
  width: 400px;
}

.foundercontent{
  margin-top: 20px;
  background-image: url(./components/assets/images/FlowerSmile.png);
  background-size: cover;
 height: 1700px;
}

.tablecontent{
  margin-top: 10px;
  flex-wrap: wrap;
}

.tablecontent thead{
  font-family: Tahoma, Verdana, Geneva, sans-serif;
}
.tablecontent tr{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; 
}
#topstable td, #topstable th{
  padding: 20px 130px;
}
.tablecontent td, .tablecontent th{
  border-bottom: 1px solid black;
  text-align: center;
}
.tablecontent th{
  padding-bottom: 20px;
}
.tabletitle {
  text-align: center;
  margin-top: 50px;
}
.tablecontent{
  display: flex;
  justify-content: center;
}

.sizingtable{
  border-collapse: collapse;
  margin-bottom: 90px;
}

.chartgreyback{
  background-color: #e7e7e7;
}

.itemcontainer a{

  color: #646464;
  
}

.itemcontainer h6{
  margin-left: 40px;
}

#pantstable th, #pantstable, td{
  padding: 20px 100px;

}
.previewsimage img{
  height: 600px;
  width: auto;

}

.collectionlink{
  background-color: rgba(228,228,228,1);
  margin-top: -60px;
  margin-left: 50px;
  height: 30px;
  width: 160px;
  position: relative;


}
.collectionlink:hover{
  background-color: rgba(255, 255, 255, 0.75);

}

.collectionlink a{
  text-decoration: none;
  line-height: 30px;
  text-align: center;
  color: black;
}

.collectionlink a:hover{
  color: rgba(0,0,0,0.75);
}
.previewsimage{
  margin-top: 50px;
  background-color: red;

}
.homecontent{
  display:flex;
  flex-direction: column;
}
#previewimage0{
  width: 400px;
  margin-left: 200px;
  margin-top: 40px;

  top: 0px;

}
#previewimage1{
  width: 350px;
  margin-left: 1000px;

  top: 200px;

}
#previewimage2{
  width: 330px;
  margin-left: 800px;

  top: -10px;

}
#previewimage3{
  width: 280px;
  margin-left: 450px;

  top: 300px;

}
#previewimage4{
  width: 190px;
  margin-left: 20px;
  top: 20px;
}
#previewimage4{
  width: 290px;
  margin-left: 50px;
  top: 450px;
}
#previewimage5{
  width: 390px;
  margin-left: 500px;
  top: -150px;
}
#previewimage6{
  width: 330px;
  margin-left: 1110px;
  top: -100px;
}
#previewlogo{
  width: 400px;
  height: 160px;
  text-align: center;

  margin-left: 550px;
  top: 40%;
  font-size: 40px;
  background-color: white;
  margin-bottom: 500px;
 
  border: 2px solid black;  
  color: #005395;
}
#previewspacer{
  width: 100%;
  background-color: black;
}

.footerlove{
  margin-left: 1000px;
  margin-top: -35px;

}

.previewimage{
  position: sticky;
  margin-top: 100px;
}

.devsocials img{
  width: 30px;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  

}
.devsocials{
  margin-left: 240px;
  margin-top: 30px;
}
.devsocials a{
  text-decoration: none;



}